body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    
}
iframe{
    margin: auto;
    display: block; 
}
p{
    color: white;
    text-align: center;
}
img{
    margin:auto;
    display: block;
}
